<div class="banner carousel carousel-dark slide carousel-fade" id="slider" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval='1500'>
      <img class="d-block w-100" src="img/banner/events.jpg" alt="First slide">
      <div class="carousel-caption">
        <div class="rectangle">
          <a href="pages/news.html" data-bs-toggle="tooltip" title="Перейти в раздел новостей"> Узнать подробнее </a>
        </div>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval='1500'>
      <img class="d-block w-100" src="img/banner/bestsellers.jpg" alt="Second slide">
      <div class="carousel-caption">
        <div class="rectangle">
          <a href="pages/books.html" data-bs-toggle="tooltip" title="Перейти в каталог"> Посмотреть все </a>
        </div>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval='1500'>
      <img class="d-block w-100" src="img/banner/new-books.jpg" alt="Third slide">
      <div class="carousel-caption">
        <div class="rectangle">
          <a href="pages/books.html" data-bs-toggle="tooltip" title="Перейти в каталог"> Перейти в каталог </a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="svisually-hidden"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"></span>
  </button>
</div>