<div class=@@class>
  <div class="card-body">
    <div class="card-inner">
      <div class="card-front">
        <img src=@@imgSrc class="card-img-top" alt="oops">
        <div class="card-title">@@cardTitle</div>
        <div class="card-subtitle">@@cardSubtitle</div>
        <div class="price">@@price</div>
      </div>
      <div class="card-back">
        <div class="card-description">@@bookDescription</div>
        <div class="card-rating">@@bookRating</div>
        <a href=@@moreInfo target="_blank">Больше информации</a>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a href=@@redirect target="_blank" class="buyBtn btn btn-success" data-bs-toggle="tooltip" title="Перейти на сайт магазина-партнера" data-id=@@id>@@buy</a>
  </div>
</div>