<footer class="footer">
  <div class="container text-md-left">
    <div class="row">
      <div class="col-md-2 col-lg-3 my-3">
        <a class="navbar-brand" href="#">
          <img src="img/Logo.jpg" alt="logo"" class=" logo me-1" /><span>InzhirPublishing</span>
        </a>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="footer-menu col-md-4 col-lg-3 my-3">
        <ul>
          <li>
            <p><a href="pages/about.html">О нас</a></p>
          </li>
          <li>
            <p><a href="pages/books.html">Наши книги</a></p>
          </li>
          <li>
            <p><a href="pages/authors.html">Авторы</a></p>
          </li>
          <li>
            <p><a href="pages/news.html">Новости</a></p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="footer-contacts col-md-4 col-lg-3 my-3">
        <ul>
          <li><i class="fas fa-home me-3"></i>г.Новосибирск, ул. Советская, д. 64</li>
          <li><a href="mailto:inzhir91@gmail.com"><i class="fas fa-envelope mt-3 me-3"></i> inzhir91@gmail.com</a></li>
          <li>
            <p><i class="fas fa-phone mt-3 me-3"></i><a href="tel:89999999999"> + 7 999 999 9999</a></p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="footer-social col-md-2 col-lg-2 text-right my-3">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="fa-brands fa-telegram mt-3"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="fab fa-vk mt-3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i> Copyright: <a href="#">InzhirPublishing</a></div>
</footer>