<section class="last-news">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="news-post">
          <h3 class="post-category ">Новости</h3>
          <h2 class="post-title" data-bs-toggle="tooltip" title="Перейти в раздел новостей">
            <a href="pages/news.html">Новости издательства</a>
          </h2>
          <p class="post-text mt-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Accusantium animi doloremque omnis pariatur soluta.
            Beatae blanditiis commodi et hic minima nihil voluptates!
            Commodi consectetur earum eius, est ratione sint tempore!
            Accusamus, aliquid consectetur cum delectus deleniti eaque et exercitationem illum impedit,
            iure magnam magni minima modi necessitatibus nemo nobis perferendis
            placeat quaerat quisquam quod repellat sapiente sit veritatis voluptate voluptate
            Cupiditate dolor doloribus id magnam maxime omnis, quod repellat!
          </p>
          <p><a class="news-more" href="pages/news.html" data-bs-toggle="tooltip" title="Перейти в раздел новостей">Подробнее</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-posts">
    <div class="container">
      <div class="row mt-lg-5">
        <div class="col-md-6">
          <div class="card"><img class="card-img-top" src="img/news-posts/post1.png" alt="oops">
            <div class="card-body">
              <h3 class="post-category">События</h3>
              <h6 class="post-title">Название карточки</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p><a class="events-more" href="pages/news.html" data-bs-toggle="tooltip" title="Перейти в раздел новостей">Подробнее</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card"><img class="card-img-top" src="img/news-posts/post2.jpg" alt="oops">
            <div class="card-body">
              <h3 class="post-category">События</h3>
              <h6 class="post-title">Название карточки</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p><a class="events-more" href="pages/news.html" data-bs-toggle="tooltip" title="Перейти в раздел новостей">Подробнее</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>