<section class="new-books">
  <div class="book-posts">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="books-list"><a href="pages/books.html" data-bs-toggle="tooltip" title="Перейти в каталог">Наши новинки</a></h2>
        </div>
      </div>
      <div class="carousel carousel-dark slide" data-bs-ride="carousel" id="books-slider">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card">
                  <img class="img-fluid d-block" src="img/new-books/1.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Время, занятое жизнью.</div>
                    <p class="card-author">Урсула Ле Гуин</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/2.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Доктор сон</div>
                    <p class="card-author">Стивен Кинг</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/3.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Воображаемый друг</div>
                    <p class="card-author">Стивен Чбоски</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/4.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Исчезновение Стефани Мейлер</div>
                    <p class="card-author">Жоэль Диккер</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/6.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">История о пропавшем ребенке</div>
                    <p class="card-author">Элена Ферранте</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/7.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Дети мои</div>
                    <p class="card-author">Гузель Яхина</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/8.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Жареные зеленые помидоры в кафе "Полустанок"</div>
                    <p class="card-author">Фэнни Флэгг</p>
                  </div>
                </div>
              </div>
              <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card"><img class="img-fluid d-block" src="img/new-books/9.png" alt="Card image cap">
                  <div class="card-body">
                    <div class="card-title">Бабушка велела кланяться и передать, что просит прощения</div>
                    <p class="card-author">Бакман Фредрик</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#books-slider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#books-slider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="more-books">
          <span>Больше книг Вы можете найти в нашем
            <a href="pages/books.html" data-bs-toggle="tooltip" title="Перейти в каталог">каталоге</a></span>
        </div>
      </div>
    </div>
  </div>
</section>