<div class="card">
  <img src=@@imgSrc class="card-img-top" alt="oops">
  <div class="card-body">
    <h5 class="card-title">@@cardTitle</h5>
    <p class="card-text">@@cardText</p>
    <div class="card-footer">
      <div class="card-social">
        <a href=@@socialVk class="social-vk" data-bs-toggle="tooltip" title="Vk"><i class="fab fa-vk"></i></a>
        <a href=@@socialTelegram class="social-telegram" data-bs-toggle="tooltip" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
      </div>
      <a href="#" class="card-footer-email">@@cardEmail</a>
    </div>
  </div>
</div>