 <section class="subscription">
   <div class="container-fluid">
     <div class="row">
       <div class="col">
         <h3 class="subscription-title text-center">Подпишитесь на нашу рассылку</h3>
         <form method="POST" action="#" name="subscriptionForm">
           <div class="form-row">
             <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 form-input">
               <button class="subscription-btn btn btn-outline-secondary" type="submit"><i class="far fa-hand-point-right"></i></button>
               <input class="subscription-input form-control" type="email" placeholder="Введите ваш email" name="emailSubscription" required>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
 </section>