@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu/Ubuntu-Bold.eot');
  src: url('../../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu/Ubuntu-Medium.eot');
  src: url('../../fonts/Ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../fonts/Ubuntu/Ubuntu-Regular.eot');
  src: url('../../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('PlayfairDisplay-Bold.eot');
  src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('PlayfairDisplay-Regular.eot');
  src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


